{% extends '_base.html' %}
{% block content %}
<div class="container">
    <a class="link-danger d-flex mx-auto text-center justify-content-center" style="font-size:27px;" href="/">Főoldal</a>
    <h2 class="text-light my-4">Feladatok: </h2>
    {% for task in tasks %}
        <div class="d-inline text-light ps-3">
            <b><i><p style="display:inline;">{{forloop.counter}}.</p></i></b>
        </div>
        <div class="d-inline-block text-light position-relative ms-3"> <!--Itt lesznek a feladatok-->
            <p>{{task.description}}</p>
        </div>
            <div class="ps-5 mt-2 mb-4 d-block">
            <div class="radio-answers d-inline">
            {% for option in task.options_as_list %}
                <input type="radio" id="answer{{ forloop.counter }}" name="answer" value="{{option}}" checked>
                <label class="mx-3" onclick="checkAnswer({{ forloop.counter }}, '{{task.answer}}')" for="answer{{forloop.counter}}">{{option}}</label>
            {% endfor %}
                <p style="font-size:20px;" class="mx-3 mt-3" id="isCorrect"></p>
            </div>
            
        </div>
    {% endfor %}
</div>

{% endblock content %}