{% extends '_base.html' %}
{% block content %}
<div class="container">
    <a class="link-danger" href="/">Főoldal</a>
    <h2 class="text-light" style="font-family:'Courier New', Courier, monospace">Feladatok: </h2>
    {% for task in tasks %}
        <div class="d-inline text-light position-relative pt-5  mt-3" style="top:1.5rem; left:1rem;">
            <b><i>{{forloop.counter}}.</i></b>
        </div>
        <div class="d-inline-block text-light position-relative ms-5 me-6 "> <!--Itt lesznek a feladatok-->
            {{task.description}}
        </div>
        <div class="ps-5">
            <div class="btn-group py-3 px-2" role="group">
            {% for option in task.options_as_list %}
                <input type="radio" class="btn-check" id="answer" autocomplete="off">
                <label class="btn options me-5" onclick="checkAnswer('válasz1')" for="answer">{{option}}</label>
            {% endfor %}
            </div>
            <p class="pt-2" style="font-size:20px;" id="isCorrect"></p>
        </div>
    {% endfor %}
</div>

{% endblock content %}