<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="ps-2">
    <ul class="nav flex-column">
        <li class="nav-item dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Tantárgyak
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Magprog</a></li>
                <li><a class="dropdown-item" href="#">ProgTech</a></li>
                <li><a class="dropdown-item" href="#">Algo I</a></li>
              </ul>
          </li>
        <li class="nav-item">
          <button type="button" class="btn btn-success" tabindex="-1">Generálás</button>
        </li>
      </ul>
    </div>
</body>
</html>